table.add{
	width:600px
	border-collapse: collapse;
}

table.add th{
	vertical-align: middle;
	padding-right:15px;
}

table.add td {
	vertical-align: middle;
	height:100px;
	padding-top:15px;
}

table.add input[type=text]{
	border: 1px solid #545454;
}

table.add input[type=text]:focus{
	border: 1px solid #1b2538;
	vertical-align: middle;
}