
table.daily{
	border:none;
	width: 600px;
}

table.daily td th{
	width:200px;
}

table.daily tr td:nth-of-type(2){
	text-align:right;
	width:100px;
	padding-right:40px;
}

table.daily tr.bottom{
	border-bottom:solid 2px #545454;
}

